<section id="about" data-aos="fade-zoom-in" data-aos-duration="3000" data-aos-delay="200">
    <h2>Sobre mi</h2>
    <div class="container">
        <div>
            <div>
                <p>
                   Hola! Mi nombre es Miguel y disfruto aprendiendo desarrollo web. Mi interés por la programación
                   comenzó en 2019 y desde entonces hasta día de hoy me ha resultado muy gratificante el poder estudiar lo que
                   realmente me gusta y me entretiene.
                </p>
                <p>
                    Actualmente he acabado mis estudios de DAW y todavía no he tenido el privilegio de trabajar en ninguna
                    empresa del sector, excepto las prácticas pertinentes. Mi enfoque principal estos días es dedicarme a crear 
                    aplicaciones para el porfolio y así poder mostrar contenido a las empresas.
                </p>
                <p>
                    Aquí hay algunas de las tecnologías que he estado trabajando recientemente:
                </p>
            </div>
            <ul>
                <li *ngFor="let item of lenguajes"><i class="pi pi-chevron-right"></i>{{item}}</li>
            </ul>
        </div>
        <div class="container-foto">
            <div class="shadow-foto"></div> 
            <div class="foto"><img src="assets/foto.jpg" alt="img"></div>
        </div>
    </div>
</section>
