section {
    padding: 120px 0px;
}

h2 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-weight: 600;
}

h2::before {
    position: relative;
    counter-increment: section 3;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--primary-color);
    font-weight: 400;
}

h2::after {
    content: "";
    display: block;
    position: relative;
    width: 700px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--text-color-secondary);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 667px){
    section{
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    h2::after {
        width: 0px;
    }
}