<section>
    <div>
        <h1 class="animate__animated animate__fadeInUp animate__delay-2s">Hola, mi nombre es</h1>
    </div>
    <div>
        <h2 class="animate__animated animate__fadeInUp animate__delay-2s">Miguel Campins</h2>
    </div>
    <div>
        <h3 class="animate__animated animate__fadeInUp animate__delay-2s">Desarrollador de aplicaciones web.</h3>
    </div>
    <div>
        <p class="animate__animated animate__fadeInUp animate__delay-2s">
            Soy un desarrollador web especializado en crear experiencias digitales. 
            He finalizado mis estudios y actualmente estoy en busqueda de mi primer empleo como profesional.
        </p>
    </div>
</section>
