
section {
    max-width: 900px;
    margin: 0px 90px;
    padding: 100px 0px;
}

.container {
    display: flex;
}

h2 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
}

h2::before {
    position: relative;
    counter-increment: section 2;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--primary-color);
    font-weight: 400;
}

h2::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--text-color-secondary);
}

.desc-right {
    margin-left: 50px;
}

h3 {
    margin: 2px 0px;
}

p {
    margin: 0px 0px 25px;
}

li {
    cursor:pointer;
  }