.right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

a {
    margin: 20px auto;
    padding: 10px;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--text-color-secondary);
    transition: all 0.35s;
}

a:hover {
    color: var(--primary-color);
}

.right::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--text-color-secondary);
}

@media screen and (max-width: 667px){
  .right {
    display: none;
  }
}